<div class="w-full flex flex-row justify-between p-2">
  {% if app.user %} {% include("_partials/profile.html.twig") %}
  <a href="logout" class="">deconnexion</a>
  {% endif %}
  <img alt="Logo Step" />
</div>
