<header class="flex flex-row fixed">
  <div class="">
    <img class="object-cover h-14 border-blue-900 border-2" src="{{asset("build/images/cat.jpeg")}}" alt="image de chat" />
  </div>
  <div class="flex h-full flex-col items-center justify-center">
    <p class="bg-blue-900 text-white p-1 pr-3 rounded-r-lg">
      {{ app.user.name }}
    </p>
  </div>
</header>
