<div class="flex flex-row">
  <div>
    <img class="h-10" src="{{ asset("build/images/cat.jpeg") }}" alt="image de
    chat" />
  </div>
  <div>
    {#
    <p>{{ app.user.name }}</p>
    #}
  </div>
</div>
