<div class="flex flex-row">
    <img class="object-cover border-blue-900 border-2" src="{{asset("build/images/person.png")}}" alt="image profil" />

    <p class="self-center bg-black pl-3 pr-3 text-white">{{ is_granted("ROLE_ADMIN") ? "Responsable" : "Technicien" }}</p>
    <p class="bg-blue-900 text-white pl-3 pr-3 rounded-r-lg place-self-center">{{ app.user.name }}</p>

    <a class="self-center ml-5 bg-red-500 hover:bg-red-800 pl-3 pr-3 rounded-2xl text-white" href="{{ path('app_logout') }}" >se déconnecter</a>
  </div>
