{% extends 'base.html.twig' %} 
{% block title %}Connexion{% endblock %} 
{% block body %}
<form method="post">
  <div class="h-screen w-full flex flex-col justify-center items-center">
    <div class="flex flex-col justify-center items-center h-[80%] w-[30%] bg-[#E8E8E8] rounded-xl">
      <div class="h-[50%] w-full flex ">
        <img class="p-20" src="{{ asset("build/images/logo-step.png") }}" alt="Logo Step" />
      </div>
      <div class="flex flex-col gap-y-10">
        {% if error %}
        <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}
        <div>
          <input
            type="email"
            value="{{ last_username }}"
            name="email"
            id="inputEmail"
            class="form-control"
            autocomplete="email"
            required
            autofocus/>
        </div>
        <div>
          <input
            type="password"
            name="password"
            id="inputPassword"
            class="form-control"
            autocomplete="current-password"
            required/>
          <input
            type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"/>
          <div class="checkbox mb-3">
            <label> <input type="checkbox" name="_remember_me" /> Remember me </label>
          </div>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
