{% extends 'base.html.twig' %}

{% block app %}

<div class="w-full h-full flex justify-between">
  <div class="w-full border-blue-900 border-2 rounded-xl m-1 shadow-lg p-1 bg-white">
    {% block A %}
    {% if widgetA %}
      {{ include('_widgets/' ~ widgetA ~ '.html.twig') }}
    {% endif %}
    {% endblock %}
  </div>
  <div class="w-full border-blue-900 border-2 rounded-xl m-1 shadow-lg p-1 bg-white">
    {% block B %}
    {% if widgetB %}
      {{ include('_widgets/' ~ widgetB ~ '.html.twig') }}
    {% endif %}
    {% endblock %}
  </div>
</div>

{% endblock %}