{% extends 'base.html.twig' %}

{% block app %}

<div class="w-[40%] h-full flex flex-col">
  <div class="h-full border-blue-900 border-2 rounded-xl m-1 shadow-lg p-1 bg-white">
    {% if widgetA %}
      {{ include('widgets/' ~ widgetA ~ '.html.twig') }}
    {% endif %}
  </div>
  <div class="h-full border-blue-900 border-2 rounded-xl m-1 p-1 bg-white">
    {% if widgetB %}
      {{ include('widgets/' ~ widgetB ~ '.html.twig') }}
    {% endif %}
  </div>
</div>
<div class="w-[60%] h-full flex flex-col">
  <div class="h-full border-blue-900 border-2 rounded-xl m-1 shadow-lg p-1 bg-white">
    {% if widgetC %}
      {{ include('widgets/' ~ widgetC ~ '.html.twig') }}
    {% endif %}
  </div>
</div>

{% endblock %}