<section class="bg-indigo-100 flex h-[90%] w-full">
  <div class="w-[40%] flex flex-col">
    <div class="h-[50%] border-black border-2 rounded-xl m-1 shadow-lg">
      {% block A %}{% endblock %}
    </div>
    <div class="h-[50%] border-black border-2 rounded-xl m-1">
      {% block B %}{% endblock %}
    </div>
  </div>
  <div class="w-[60%] flex flex-col">
    <div class="h-full border-black border-2 rounded-xl m-1 shadow-lg">
      {% block C %}{% endblock %}
    </div>
  </div>
</section>
