<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Atelier Step{% endblock %}</title>
    {% block stylesheets %}{{encore_entry_link_tags("app")}}{% endblock %} 
    {% block javascripts %}{{encore_entry_script_tags("app")}}{% endblock %}
  </head>

  <body class="h-screen w-full">
    {% include("_partials/header.html.twig") %} 
    <main class="flex flex-col h-[92%] w-full">
      {% if app.user %}
      {% include("_partials/navigation-bar.html.twig") %}
      {% endif %}
      <section class="flex h-full w-full p-2 border-2 bg-blue-900 border-black">
        {# app core location [model A, model B or model C] #}
        {% block app %}{% endblock %}
      </section>
    </main>
  </body>
</html>
