<div class="overflow-y-scroll h-full">
    {# ajouter boutons ajouter, modifier, supprimer #}
    {% for ticket in tickets %} {# ajouter index isSelected avec association de l'id pour changer la variation de la classe #}
        <p>ticket : {{ ticket.number }} {{ ticket.intitule }}</p>
    {% endfor %}
</div>